

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/

# MATLAB
*.asv
*.m~

# Jupyter Notebook
.ipynb_checkpoints

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp


# Keep folder structure
!data/raw/.gitkeep
!data/processed/.gitkeep
!results/.gitkeep
